<div id='chatContainer' class='p-5 mb-2 text-dark mt-5 d-block container'>
	<h3 class='text-start mt-5 mb-5 fw-bolder text-primary'>Centro de Mensajes</h3>
	<form>
		<input
			type='text'
			id='author'
			class='form-control'
			placeholder='usuario@email.com'
		/>
		<div class='mt-5 d-block container' id='messages'></div>
		<input
			type='text'
			id='text'
			class='form-control'
			placeholder='Escribe tu mensaje'
		/><br />
		<input
			value='enviar'
			class='btn btn-outline-info mt-1 gap-2 col-2 mx-auto'
			id='btn-chat'
			onclick='addMessages()'
		/>
	</form>

</div>