html
    head
        meta(charset="UTF-8")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous")
        title PUG
    body.container.mt-3
        div.jumbotron
            h2.text-start.mt-5.mb-5.fw-bolder Vista de Productos
            include includes/products.pug